<div class="row">
  {% if settings.slide_1 != false or settings.slide_2 != false or settings.slide_3 != false or settings.slide_4 != false %}
  <!-- Begin slider -->
  <div class="col-xs-12">
    <div class="flexslider-container">
      <div class="flexslider">
        <ul class="slides">
          {% for i in (1..4) %}
            {% capture show_slide %}slide_{{ i }}{% endcapture %}
            {% capture image %}slideshow_{{ i }}.jpg{% endcapture %}
            {% capture link %}slide_{{ i }}_link{% endcapture %}
            {% capture alt %}slide_{{ i }}_alt{% endcapture %}
            {% if settings[show_slide] %}
            <li>
              <a href="{{ settings[link] }}">
                <img src="{{ image | asset_url }}" alt="{{ settings[alt] | escape }}" />
              </a>
            </li>
            {% endif %}
          {% endfor %}
        </ul>
        <div class="flex-controls"></div>
      </div>
    </div>
  </div>
  <!-- End slider -->
  {% endif %}
</div>


<div class="row">
<!-- start featured product -->
  <div class="col-xs-12">

  </div>
<!-- end featured product -->
</div>